h1 {
    font-size: clamp(25px, 4vw, 40px);
    font-weight: 600;
    text-indent: 0;
    line-height: 1.3;
    margin: 50px 0px;
}
h2 {
    font-size: clamp(20px, 3vw, 30px);
    font-weight: 600;
    text-indent: 0;
    line-height: 1.2;
    margin: 50px 0px;
}
h3 {
    font-size: clamp(18px, 4vw, 25px);
    font-weight: 600;
    text-indent: 0;
    margin: 40px 0px;
}
h4 {
    font-size: clamp(16px, 3vw, 22px);
    font-weight: 600;
    text-indent: 0;
    margin: 20px 0px;
}
h5 {
    font-size: clamp(14px, 3vw, 18px);
    font-weight: 600;
    text-indent: 0;
    margin: 15px 0px;
}
h6 {
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 600;
    text-indent: 0;
}
.page__title {
    color: #fff;
    text-align: center;
    font-size: clamp(25px, 4vw, 40px);
    margin: 0px 0px 20px 0px;
    text-shadow: 3px 3px 5px #ccc;
}
.page__title-flimsi {
    color: #000;
    text-align: center;
    font-size: clamp(25px, 4vw, 40px);
    margin: 0px 0px 20px 0px;
    text-shadow: 3px 3px 5px #555;
}
.page__section_2 p {
    margin: 15px 0;
}
.page__text {
    color: #fff;
    font-size: clamp(12px, 2vw, 16px);
    line-height: 135%;
    text-align: justify;
    text-indent: 50px;
    text-shadow: 3px 3px 5px #ccc;
}
.page__text-flimsi {
    color: #000;
    font-size: clamp(12px, 2vw, 16px);
    line-height: 135%;
    text-align: justify;
    text-indent: 50px;
    text-shadow: 2px 2px 7px #888;
}
.page__text p {
    margin: 0px 0px 15px 0px;
}
.page__text-flimsi #comment {
    background: #f4f3f8;
    box-shadow: inset 4px 0 0 0 #ced3f1;
    color: #392c69;
    font-size: clamp(10px, 1vw, 13px);
    font-style: italic;
    text-indent: 0;
    letter-spacing: 0;
    line-height: 16px;
    margin: 10px;
    padding: 5px 15px;
}
.page__text-flimsi #legal {
    font-style: italic;
    text-indent: 0;
    margin: 5% 2%;
}
.page__text-flimsi #address {
    font-style: italic;
    margin: 4% 0% 2% 0%;
}
.page__line {
    border-bottom: 2px solid #7F6A00;
    border-radius: 2px;
}
.page__archive {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: #031321;
}
.archive_btn {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 35px;
    margin: 8px 0px;
    padding: 15px 30px;
    color: #2196f3;
    background-image: url(img/btn.png);
    background-position: center;
    background-size: cover;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    transition: 0.2s;
}
.archive_btn p {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 7px;
}
.archive_btn:hover {
    background: rgba(0,0,0,.1);
    color: #4CFF00;
    text-shadow: .5px .5px 2px #1A9324;
    background-image: url(img/btn_hov.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    border-radius: 29px;
    transition-delay: 0.25s;
}
.archive_btn span {
    position: absolute;
    display: block;
}
.archive_btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 1.5px;
    background: linear-gradient(90deg, transparent, #2196f3);
}
.archive_btn:hover span:nth-child(1) {
    left: 100%;
    transition: 0.25s;
}
.archive_btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 1.5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}
.archive_btn:hover span:nth-child(2) {
    top: 100%;
    transition: 0.25s;
    transition-delay: 0.0625s;
}
.archive_btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 1.5px;
    background: linear-gradient(270deg, transparent, #2196f3);
}
.archive_btn:hover span:nth-child(3) {
    right: 100%;
    transition: 0.25s;
    transition-delay: 0.125s;
}
.archive_btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 1.5px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}
.archive_btn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.25s;
    transition-delay: 0.1875s;
}
#textlist {
    list-style: disc;
    list-style-position: outside;
    text-indent: 0;
    margin-bottom: 9px;
    padding: 0px 40px;
}
#textlist li {
    padding: 14px 0px 0px 0px;
}

@media (max-width:1200px) {
    h1,h2,h3,h4,h5,h6 {
        text-align: center;
        text-indent: 0;
        padding: 0;
        text-wrap: balance;
    }
}
@media (max-width:768px) {
    .page__content {
        margin: 35px 25px;
        padding: 10px;
    }
}
@media (max-width:426px) {
    .scroll {
        right: 90%;
        bottom: 12%;
        z-index: 50;
    }
}
@media (max-width:420px) {
    .page__content {
        margin: 15px 4px;
        padding: 5px;
    }
}
@media (max-width:375px) {
    .page__content {
        margin: 12px 4px;
        padding: 4px;
    }
}