*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,ol,li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    font-family: Cambria, Verdana, Pathos, Ubuntu;
}
body._lock {
    overflow: hidden;
}
.wrapper {
    min-height: 100%;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: #912105;
}
.header__container {
    max-width: 1300px;
    margin: 0px auto;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}
.header__logo {
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    z-index: 5;
    width: 40px;
    height: 40px;
}
.menu__list > li {
    position: relative;
    margin: 0px 0px 0px 20px;
}
.menu__link {
    color: #fff;
    font-size: 18px;
    padding: 11px 0px 15px 0px;
}
.menu__link:hover {
    background: rgba(0,0,0,.1);
    color: #20B22E;
    text-shadow: .5px .5px 1px #44FF54;
}
.menu__sublist {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    padding: 15px;
    min-width: 200px;
}
.menu__sublist li {
    margin: 0px 0px 10px 0px;
}
.menu__sublist li:last-child {
    margin: 0;
}
.menu__sublink {
    color: #fff;
}
.menu__sublink:hover {
    background: rgba(0,0,0,.1);
    color: #20B22E;
    text-shadow: .5px .5px 1px #44FF54;
}
.menu__arrow {
    display: none;
}
body._pc .menu__list > li:hover .menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}
body._touch .menu__list > li {
    display: flex;
    align-items: center;
}
body._touch .menu__link {
    flex: 1 1 auto;
}
body._touch .menu__arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    transition: transform 0.3s ease 0s;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #fff;
}
body._touch .menu__list > li._active .menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
    transform: rotate(-180deg);
}
.menu__icon {
    display: none;
}
.page {
    padding: 90px 0px 30px 0px;
}
.page__section {
    padding: 30px;
    max-width: 1300px;
    margin: 0px auto;
}
.page__section_1 {
    background-color: #794f45;
}
.page__title {
    font-size: 40px;
    margin: 0px 0px 20px 0px;
    text-align: center;
}
.page__text {
    font-size: 16px;
    line-height: 140%;
    text-align: justify;
}
.page__text p {
    margin: 0px 0px 20px 0px;
    text-indent: 50px;
}
.page__sub-title {
    font-size: 30px;
}
@media (min-width: 767px) {
    .menu__list {
        display: flex;
        align-items: center;
    }
    .menu__list > li {
        padding: 16px 0;
    }
    .menu__sublist {
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }
}
@media (max-width: 767px) {
    .menu__icon {
        position: relative;
        display: block;
        width: 30px;
        height: 18px;
        z-index: 5;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1)translate(0px, -50%);
    }
    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon._active::after {
        top: 50%;
        transform: rotate(45deg) translate(0px, -50%);
    }
    .menu__body {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: rgba(0,0,0,0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu__body._active {
        left: 0;
    }
    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-image: url(img/background.jpg);
        z-index: 2;
    }
    .menu__list > li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
    }
    .menu__list > li:last-child {
        margin-bottom: 0;
    }
    .menu__list > li._active .menu__sublist {
        display: block;
    }
    .menu__link {
        font-size: 24px;
    }
    .menu__sublist {
        position: relative;
        margin: 20px 0px 0px 0px;
        flex: 1 1 100%;
        background-color: #fff;
        display: none;
    }
    .menu__sublink {
        font-size: 20px;
        color: #000;
    }
}