*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Cambria, Verdana, Pathos, Ubuntu;
}
a {
    text-decoration: none;
    color: #ffc000;
}
ul,ol,li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,body {
    height: 100%;
    padding-top: 30px;
    line-height: 1;
    font-size: 16px;
    color: #fff;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .8% 0 3%;
    box-shadow: 0 4px 10px #888;
    z-index: 20;
}
header .navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header .navbar li {
    list-style: none;
}
header .navbar ul li {
    position: relative;
    float: left;
}
header .navbar ul li a {
    font-size: 17px;
    padding: 25px 10px;
    color: #fff;
    display: block;
    text-shadow: .6px .6px 1px #ccc;
}
header .navbar ul li a:hover {
    background: rgba(0,0,0,.1);
    color: #4CFF00;
    text-shadow: .5px .5px 2px #1A9324;
}
header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 210px;
    background: #ccc;
    background: linear-gradient(45deg, #313140 0%, #9C9CA6 49%, #ccc 100%);
    display: none;
}
header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}
header .navbar ul li ul li ul {
    left: 210px;
    top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}
#menu-bar {
    display: none;
}
header label {
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    display: none;
}
@media(max-width:991px) {
    body {
        padding-top: 10px;
    }
    header {
        padding: 10px;
    }
    .header__logo {
        transform: scale(.9);
    }
    .header__icon {
        display: none;
    }
    header label {
        display: initial;
        position: fixed;
        width: 30px;
        text-align: center;
        right: 20px;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
    }
    header .navbar ul li {
        width: 100%;
    }
    header .navbar ul li a {
        font-size: 14px;
    }
    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li {
        background: #eee;
    }
    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }
    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}
.page {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    padding: 55px 60px;
    background-color: #010230;
    background-image: url(img/screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.page__section {
    padding: 20px;
    max-width: 1200px;
    margin: 0px auto;
}
.page__section_1 {
}
.page__section_2 {
}
.page__starter-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 10px 20px;
}
.page__title {
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin: 0px 0px 20px 0px;
    text-shadow: 3px 3px 5px #ccc;
}
.page__text {
    color: #fff;
    font-size: 16px;
    line-height: 135%;
    text-align: justify;
    text-indent: 50px;
    text-shadow: 3px 3px 5px #ccc;
}
.page__text p {
    margin: 0px 0px 15px 0px;
}
.footer {
    display: flex;
    width: auto;
    background-image: url(img/backgr_bottom.jpg);
    height: 80px;
    background-size: cover;
}
.disclaimer {
    display: flex;
    position: relative;
    width: 46%;
    left: 500px;
    padding-top: 10px;
    text-align: justify;
    color: #BFC2FF;
    font-size: 11px;
    text-shadow: 2px 1px 4px #ccc;
}
.disclaimer_mob {
    display: flex;
    position: relative;
    width: 90%;
    left: 100px;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    color: #BFC2FF;
    font-size: 11px;
    text-shadow: 2px 1px 4px #ccc;
}
@media only screen and (max-width: 960px) {
    .disclaimer {
        display: none;
    }
}
@media only screen and (min-width: 959px) {
    .disclaimer_mob {
        display: none;
    }
}