* {
	margin: 0;
	padding: 0;
    border: 0;
    font-family: Cambria;
    list-style: none;
    text-decoration: none;
}
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer};
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(img/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5% 9% .5% 1%;
    box-shadow: 0 5px 10px #000;
}
.header .logo {
    height: 70px;
}
.header nav ul li {
    position: relative;
    float: left;
}
.header nav ul li a {
    padding: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    display: block;
}
.header nav ul li a:hover {
    background: rgba(0,0,0,.1);
    color: #007F0E;
}
.header nav ul li ul {
    position: absolute;
    left: 0;
    width: 210px;
    background-color: #ccc;
    background: linear-gradient(45deg, #313140 0%, #9C9CA6 49%, #ccc 100%);
    display: none;
}
.header nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
}
.header nav ul li ul li ul {
    left: 210px;
    top: 0;
}
nav ul li:hover > ul {
    display: initial;
}
.menu {
    position: relative;
    width: 40px;
    height: 35px;
    background: transparent;
    cursor: pointer;
}
input[type=checkbox] {
    display: none;
}
.menu span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    border-radius: 10px;
    transition: .5s;
}
.menu span:nth-child(1) {
    top: 0;
    transform-origin: left center;
}
.menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}
.menu span:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
    transform-origin: left center;
}
input:checked ~ label span:nth-child(1) {
    transform: rotate(45deg);
    top: 0;
    left: 10px;
}
input:checked ~ label span:nth-child(2) {
    width: 0;
    opacity: 0;
}
input:checked ~ label span:nth-child(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 10px;
}
.header label {
    display: none;
}
@media(max-width:991px) {
    .header {
        padding: 20px;
        }
    .header nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border: 1px solid rgba(0,0,0,.1);
        display: none;
    }
    .header nav ul li {
        width: 100%;
    }
    .header nav ul li ul {
        position: relative;
        width: 100%;
    }
    .header nav ul li ul li {
        background: #ccc;
    }
    .header nav ul li ul li ul {
        width: 100%;
        left: 0;
    }
    .header label {
        display: initial;
    }
    #menu:checked ~ nav {
        display: initial;
    }
}
.main {
    width: auto;
    background-color: #010230;
    background-image: url(img/screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex: 1 0 auto;
    padding: 55px 80px;
    font-family: Cambria;
    font-size: 16px;
    color: #BFC2FF;
    text-shadow: 1px 2px 2px #353FFF, 0 0 3em #4750FF, 0 0 0.4em #4750FF;
}
.footer {
    display: flex;
    width: auto;
    background-image: url(img/backgr_bottom.jpg);
    height: 80px;
    background-size: cover;
}
.disclaimer {
    display: flex;
    position: relative;
    width: 45%;
    left: 550px;
    padding: 15px;
    text-align: justify;
    color: #BFC2FF;
    font-size: 11px;
    text-shadow: 2px 1px 4px #ccc;
}
@media screen and (max-width: 960px) {
    .disclaimer {
        display: none;
    }
}
